.working-staff__age-limit {
  font-family: 'Neue Machina', Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 1.14;
  font-weight: 400;
  font-style: normal;
  padding-left: 16px;
  letter-spacing: -0.01em;
}