.gallery {
    margin: 0 auto;
    min-width: 320px;
    background-color: #ECEBE8;
    box-sizing: border-box;
    padding-bottom: 146px;
}

@media (max-width: 768px) {
    .gallery {
        padding-bottom: 120px;
    }
}

@media (max-width: 414px) {
    .gallery {
        padding-bottom: 100px;
    }
}