.video__play-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/video__icon-play.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  z-index: 1;
  border-radius: 50%;
  transition: 
    transform 0.2s linear,
    opacity 0.1s linear;
}

.video__play-button:hover {
  transform: scale(1.2)
}

.video__play-button:active {
  opacity: 0.6;
}
