.preview-project__data {
  font-family: 'Neue Machina', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0 0 16px;
  align-self: center;
  display: block;
}

@media screen and (max-width: 415px) {
  .preview-project__data {
    padding-left: 21.49%;
    padding-bottom: 20px;
    margin: 0;
  }
}